# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Local env files
# .env
.env.local
.env.development
.env.production
.env.test

# Prisma migrations cache
backend/prisma/dev.db

# Logs
logs
*.log

# Docker volumes
volumes/

# Next build output
frontend/.next/
frontend/out/

# Backend build output (if any)
backend/dist/

# OS system files
.DS_Store
Thumbs.db
